::-webkit-scrollbar {
    width: 2px;
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: #FF9E9D;
}

body{font-family: Arvo;
		background: linear-gradient(to bottom,#f7b9c4, #A9F5F2);
		text-align: centre;}
#babytime{background-color: none;
			width:80%;
			margin:auto;
			min-width: :850px;}

header {color: white;
		font-size: 250%;
		font-family: Pacifico;
		text-align: left-side;}
		
nav {
  text-align: center; 
  text-decoration: none;
  font-size: 17px;
  padding-top : 30px;
  padding-bottom: 30px;
	} 

nav a {text-decoration: none;
		padding:20px;
		color:white;
		border-bottom:1px solid #ffffff;
		background-repeat:no-repeat;
		background-position:right 0;
		}	
nav a:hover {background-color:#b2d6e3;
				color:#FF808C;
				background-position:right -100px;}	
				
			#wrapper {
				width: 70%;
				padding: 0% 0% 0% 30%;
				}
			aside {
				float: left;
				padding-top: 27.5%;
				padding-left: 5%; }
			aside img {
				width: 60%;
				height: 60%; }
				
#topbutton {
	border-radius:50%; 
	color:#EE91A9;
	background-color:#fff;
	font-size:30px;
	padding:5px 8px 8px 8px;
	position:absolute;
	text-decoration:none;
	margin-top:-30px;
	cursor: url(cursor.png), auto;
	-webkit-transition:all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

#topbutton:hover {
	background-color:#EE91A9;
	color:#fff;
}

#tophover{
	display:none;
}

#topbutton:hover  #tophover{
	display:block;
	font-size:18px;
	padding:7px 0 7px 0;
}

#topbutton:hover  #topnohover{
	display:none;
}				
				
footer {
	text-align:center;
	background-color:#fff;
	color:#E9ABC7;
	width:100%;
	float:left;
	margin-top: 4%;
	padding:1.2%;
}